/* Réinitialisation CSS */

/* Remise à zéro de la marge et du rembourrage pour tous les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Réinitialisation de la typographie */
html {
  font-size: 16px; /* Définir une taille de police de base */
  font-family: Arial, sans-serif; /* Utiliser une police de caractères générique */
}

/* Réinitialisation des listes */
ul, ol {
  list-style: none;
}

/* Réinitialisation des liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Réinitialisation des boutons */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Réinitialisation des styles d'éléments de formulaire */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Réinitialisation des styles de tableau */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MENU BURGER */

li {
  list-style: none;
}


a:hover{
  background: grey;
}

nav ul{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.nav{
  background: transparent;
  display: fixed;
  justify-content: start;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 1.5vw);
}

.icons{
  cursor: pointer;
  display: none;
}

/* STYLES GENERAUX */

.schwifty{
    font-family: "Get Schwifty Regular";
}

.galindo{
    font-family: 'Galindo', display;
}
.header-bg{
    background-image: url('/images/header-bg.jpg');
    background-size: cover;
}

.main-bg{
    background-image: url('/images/main-bg-recut.webp');
    background-size:cover;
    background-repeat: no-repeat;
}

.main-galaxy-bg {
  background-image: url('/images/main-galaxy-bg.webp');
  background-size: cover;
  background-repeat: repeat-y; /* Répétition verticale uniquement */
}

.footer{
    background-color: #262626 ;
    color: white;
}

/* BOUTONS DE LA BARRE DE NAVIGATION */

.nav-button {
  display: flex;
  font-family: "Get schwifty Regular";
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.2em 1em 0.1em rgba(102,247,113,1);
  border-radius: 2em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(102,247,113,1);
}

.nav-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(102,247,113,1);
}


.newList-button {
  display: flex;
  font-family: "Get schwifty Regular";
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.2em 1em 0.1em rgba(102,247,113,1);
  border-radius: 2em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.newList-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(102,247,113,1);
}

.newList-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(102,247,113,1);
}

select {
  position: static; /* Réinitialisation de la position */
  top: auto; /* Réinitialisation de top */
  bottom: auto; /* Réinitialisation de bottom */
}

.option-class{
  font-family: 'Courier New', Courier, monospace;
}

/* BOUTONS DES CARTES */

.card-button {
  display: flex;
  align-items: center;
  font-family: "Get schwifty Regular";
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: linear-gradient(0deg, rgb(194, 205, 226) 0%, rgb(125, 116, 255) 100%);
  border: solid 1px green;
  box-shadow: 0 0.2em 1em 0.1em rgb(39, 162, 211);
  border-radius: 2em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgb(189, 202, 191);
}

.card-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(102,247,113,1);
}



/* CSS DES CARTES PERSONNAGES */

.flip-card {
  margin: 1rem;
}

.flip-card-front {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid green;
  border-radius: 1rem;
  background: linear-gradient(0deg, rgb(212, 226, 219) 0%, rgb(28, 207, 37) 80%);
  background-color: transparent;
  width: 20rem !important;
  height: 32rem !important;
}

/* CSS DE LA CARTE POPUP */

.popup-card {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: fixed; /* Position fixe pour afficher la fenêtre par rapport à la fenêtre du navigateur */
  display: none;
  background-color: transparent;
  width: 50rem;
  height: 36rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid green;
  border-radius: 1rem;
  background: linear-gradient(0deg, rgb(212, 226, 219) 0%, rgb(28, 207, 37) 80%);
  top: 50%; /* Positionnement vertical au centre */
  left: 50%; /* Positionnement horizontal au centre */
  transform: translate(-50%, -50%); /* Déplacement de 50% de la largeur et de la hauteur de la fenêtre elle-même */
  z-index: 9999; /* Pour s'assurer que la fenêtre est au-dessus du reste du contenu */
}

.popup-card.open {
  display: block !important;
}

.popup-card.hidden {
  display: none;
}

/* BOUTON EXIT DE LA CARTE POPUP */

.popup-button {
  display: flex;
  align-items: center;
  font-family: "Get schwifty Regular";
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: linear-gradient(0deg, rgb(194, 205, 226) 0%, rgb(125, 116, 255) 100%);
  border: solid 1px green;
  box-shadow: 0 0.2em 1em 0.1em rgb(39, 162, 211);
  border-radius: 2em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.popup-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgb(189, 202, 191);
  cursor: pointer;
}

.popup-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(102, 247, 113, 1);
}

/* MEDIA QUERIES */

@media (max-width : 800px) {
  #icons {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    color:black; /* Couleur du texte */
    -webkit-text-stroke-width: 0.5px; /* Largeur du contour */
    -webkit-text-stroke-color: #fff; /* Couleur du contour */
  
  }

  #close {
    display: flex;
    justify-content: end;
    padding: 1rem;
    font-size: 2rem;
  }

  #icons::before {
    content: "\2630";
  }

  .activeNav #close:before {
    content: "\2716";
  }

  nav ul{
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    background: white;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }

  nav li {
    padding: 3px 0;
  }

  nav li:hover {
    background: rgb(160, 157, 157);

  }

  nav.activeNav ul {
    left : 0;
  }

  .nav{
    position: fixed;
    top:20px;
    left: 20px;
    background: none;
  }

  .nav-button {
    font-family: "Get schwifty Regular";
    background: none;
    box-shadow: none;
    padding: 0.7em 1.4em 0.7em 1.1em;
    cursor: pointer;
    margin: 0;
  }

  .popup-card {
    width: 22rem !important;
    height: 40rem !important;
  }
}